<app-header />
<div class="container">
    @if (listFood.length > 0) {
    <p class="container__paragraph">Estas recomendaciones son recetas 100% saludables.</p>
    <h2 class="container__title">Recomendaciones</h2>
    <div class="container__results">
        @for (item of listFood; track $index) {
        <div class="container__results--item" (click)="openDetail(item)">
            <h2 class="item__title">{{item.name}}</h2>
            <div class="item__information">
                <p class="item__information--time">
                    <img class="icon" src="./images/icon_time.svg" alt="Icon time" />
                    {{item.preparation_time}}
                </p>
                <p class="item__information--level">{{item.level}}</p>
            </div>
        </div>
        }
    </div>
    <form class="container__form">

        <button class="container__form--btn" type="button" (click)="generateRecipes()">
            Generar más recetas
        </button>
    </form>
    }
    @if(isLoading){
    <div class="container__loader">
        <span class="loader"></span>
        <p class="paragraph">Cargando...</p>
    </div>
    }
</div>