<app-header />
<div class="container">
    <form class="container__form" [formGroup]="formChat">
        <textarea class="container__form--input" formControlName="query" aria-label="Escribe tu duda"
            placeholder="Escribe tu duda" rows="3"></textarea>
        <button class="container__form--btn" type="button" [disabled]="!formChat.valid || isLoading"
            (click)="askGemini()">
            Consultar a Gemini Nano
        </button>
        <button class="container__form--btn" type="button" (click)="!isEnbleVoice ? talkGemini() : stopTalkGemini()">
            {{!isEnbleVoice ? 'Hablar con Gemini' : 'Detener conversación con Gemini'}}
        </button>
    </form>

    @if(responseChat.length > 0){
    <section class="container__response">
        <p>{{responseChat}}</p>
    </section>
    }
</div>